p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.main-content {
    
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Define margem automática à esquerda e à direita para centralizar horizontalmente */
    text-align: center;
    }


.highlight {
    background: linear-gradient(to right, rgb(21, 156, 174), rgb(0, 0, 0));
    color: rgb(255, 254, 254);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-size: 16px; /* Tamanho padrão */
    text-align: center;
}
/*  


.custom-button {
    background-color: #11dbff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

.custom-button:hover {
    background-color: #1d00fca7;
    color: white;
    font-style: bold;
   
}

*/
.custom-button {
   
    
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174)rgb(255, 255, 255) 0, 0) 100%);
    color: #1d1717b0;
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left:607px;
    margin-bottom:-210px;
    border: 1px outset #000; /* Adicionando uma borda sólida azul */
} 
.custom-button:hover{
    background-color: #000000;
    
    color:#ffffff;
}
.dark-mode .custom-button{
    background: black;
    border: 1px outset #eeeeee; /* Adicionando uma borda sólida azul */
    color: #ffffffb0;
}

.dark-mode .custom-button:hover{
    background: black;
    border: 1px outset #02ffccb0; /* Adicionando uma borda sólida azul */
    color: #02ffccb0;
}

.curso2 img {

margin-left: 0px;
}
.donatebutton {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(21, 156, 174) 50%, rgb(0, 0, 0) 100%);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  
   
} 
.dark-mode .donatebutton {

    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  

}
.dark-mode .donatebutton:hover{
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(21, 156, 174) 50%, rgb(0, 0, 0) 100%) ;
}
#darkModeToggle {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Ajusta a posição do botão */
    right: 20px; /* Ajusta a posição do botão */
}

#darkModeToggle:hover {
    background-color: #0056b3;
}

body.light-mode #darkModeToggle {
    background-color: #007bff;
}

body.dark-mode #darkModeToggle {
    background-color: #444;
}

        .main-content video {
            max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
            width:600px;
            height: 400px; /* Ajusta a altura proporcionalmente */
            box-shadow:
            0px 0px 5px rgba(255, 255, 255, 0.7),
            0px 0px 3px rgba(255, 255, 255, 0.7),
            0px 0px 2px rgba(255, 253, 253, 0.7);
        
        }
        body.dark-mode {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    color: white;
}
body.dark-mode .container {
    
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow:
        0px 0px 5px rgba(255, 255, 255, 0.7),
        0px 0px 3px rgba(255, 255, 255, 0.7),
        0px 0px 2px rgba(255, 255, 255, 0.7);
}
.dark-mode .sidebar a {
    color: white;
}
.dark-mode .sidebar {
    background: rgb(0, 0, 0);
}
.dark-mode .sidebar a {
    color: white;
}
.dark-mode .footer {
    background: #000000;
    color: white;
    border: 1px solid #ffffff;
}

.dark-mode .footer a {
    color: #ccc;
}


.dark-mode .curso {
    display: flex;
    flex-direction: row; /* Altera a direção do flex para linha */
    justify-content: space-between; /* Coloca o texto à esquerda e o botão à direita */
    align-items: center; /* Centraliza verticalmente */
    direction: column;
    text-align: left; /* Alinha o texto à esquerda */
    width: 1200px;
    max-width:80%; /* Ocupará 100% da largura */
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.705);
    margin: 20px auto;
    padding: 20px;
    background:black;
    position: relative; /* Posicionamento relativo */
}
.dark-mode .page-indicators a{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.705);
}

.dark-mode .divider{
    width: 100%;
    height: 2px;
    margin: 20px 0; /* Espaçamento acima e abaixo da linha de separação */
    box-shadow:3px 3px 3px rgb(255, 255, 255); /* Sombra abaixo da linha de separação */
}


.dark-mode .language-selector {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    color: white;
    border: 1px solid #ffffff;
}

.dark-mode .language-selector select {
    background-color: #000000;
    color: white;
}
.dark-mode .sidebar a {
    /* ... outros estilos ... */
    transition: none; /* Remover todas as transições */
}

.dark-mode .sidebar a:hover span {
            color: rgb(255, 255, 255); /* Cor do texto quando passa o mouse */
        }

        .dark-mode .sidebar a:hover {
            background-color: rgb(255, 253, 253); /* Fundo preto quando passa o mouse */
            color: rgb(0, 0, 0); /* Cor dos links quando passa o mouse */
            width: 100%; /* Fundo preto se estende até a largura máxima do link */
            box-sizing: border-box; /* Evita que o padding aumente a largura total */
            padding: 5px 10px; /* Ajusta o padding para esquerda e direita */
        }

.donatebutton:hover{
    background: #000000;
    color:#ffffff;
}

.theme-toggle {
    display: flex;

}

#toggle-theme {
    background-color: #00070e;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#toggle-theme:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#toggle-theme:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgb(3, 254, 250);
}


/* Abaixo mudar a cor da página */





/* Mudar cor da letra para branca */




/*imagem para cabeçalho do curso*/
/*imagem para cabeçalho do curso*/
/*imagem para cabeçalho do curso*/
/*imagem para cabeçalho do curso*/



/*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('C:\\Users\\Vitor ss\\Desktop\\cursos python\\OIP4.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0; /* Ajuste o espaçamento superior e inferior conforme necessário 
}
*/


.header-image {
    width: 100%; /* A imagem ocupará 100% da largura do seu contêiner */
    max-height: 300px; /* Defina a altura máxima desejada */
    max-width: 100%; /* Ocupará 100% da largura */
}

header h2 {
    font-size: 18px;
    /*text-shadow: 1px 1px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */
    color: #1d1717b0;
    text-align: center; /* Centralizar o texto horizontalmente */
}

header p {
    font-size: 18px;
}


/*Divisão*/

.divider {
    width: 100%;
    height: 2px;
    margin: 20px 0; /* Espaçamento acima e abaixo da linha de separação */
    box-shadow:3px 3px 3px rgb(0, 0, 0); /* Sombra abaixo da linha de separação */
}

   




/* TITULOS E CABEÇALHOS */


body {

    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174)rgb(255, 255, 255) 0, 0) 100%);
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Define margem automática à esquerda e à direita para centralizar horizontalmente */
    justify-content: center;
    text-align: center;
    align-items: center;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
  }
  body {
    font-family: 'BebasNeue', sans-serif; /* Utilize o nome definido em @font-face */
  }
.curso h3{
    color: #1d1717b0;
    /*text-shadow: 1px 1px #000000;*/
    display: flex;
    flex-direction: row; /* Altera a direção do flex para linha */
    justify-content: space-between; /* Coloca o texto à esquerda e o botão à direita */
    position: absolute;
    margin-left:537px;
    margin-bottom:200px;
  

}
.curso p{
color: #1d1717b0;
}

.dark-mode .container p {
    color: #ffffffb0;
}
.dark-mode .container h2 {
    color: #ffffffb0;
}

.dark-mode .container h1 {
    color: #ffffffb0;
}
.dark-mode .sidebar {
    box-shadow:
0px 0px 5px rgba(253, 253, 253, 0.7),
0px 0px 3px rgba(253, 253, 253, 0.7),
0px 0px 2px rgba(253, 253, 253, 0.7);
}
.dark-mode .curso h3 {
    color: #ffffffb0;
}

.dark-mode .curso p{
    color: #ffffffb0;
}
.dark-mode li{
    color: #ffffffb0;
}

/* Estilos para centralizar as imagens horizontalmente */
.curso img {
    max-width: 80%;
    height: auto;
    display: block; /* Garante que a margem automática funcione corretamente */
    margin: 0 auto; /* Define margem automática à esquerda e à direita para centralizar horizontalmente */
    border-radius: 8px;
    border: 1px outset #ffffff; /* Adicionando uma borda sólida azul */
    box-shadow: 0 0 10px rgb(255, 235, 53);
    width: 500px;
    height: 500px;
    margin-left: 0px;
}
.dark-mode .curso img {
    max-width: 80%;
    height: auto;
    display: block; /* Garante que a margem automática funcione corretamente */
    margin: 0 auto; /* Define margem automática à esquerda e à direita para centralizar horizontalmente */
    border-radius: 8px;
    border: 1px outset #ffffff; /* Adicionando uma borda sólida azul */
    box-shadow: 0 0 10px rgb(71, 255, 132);
    width: 500px;
    height: 500px;
}

.curso  {
    display: flex;
    flex-direction: row; /* Altera a direção do flex para linha */
    justify-content: space-between; /* Coloca o texto à esquerda e o botão à direita */
    align-items: center; /* Centraliza verticalmente */
    direction: column;
    text-align: left; /* Alinha o texto à esquerda */
    width: 1200px;
    max-width:80%; /* Ocupará 100% da largura */
    color: #1d1717b0;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705);
    margin: 20px auto;
    padding: 20px;
    background:linear-gradient(to right, rgba(21, 156, 174, 0.493), rgb(255, 255, 255));
    position: relative; /* Posicionamento relativo */

}



.curso1{
    display: flex;
    flex-direction: column; /* Altera a direção do flex para linha */
    justify-content: center; /* Coloca o texto à esquerda e o botão à direita */
    align-items: center; /* Centraliza verticalmente */
    direction: column;
    text-align: center; /* Alinha o texto à esquerda */
    max-width: 90%; /* Ocupará 100% da largura */
    border-radius: 4px; /* Adicionando uma vírgula para separar propriedades */
    border-bottom: 1px outset #ffffffb0;
    border-left: 1px outset #000000b0;
    border-right: 1px outset #ffffffb0;
    margin: 0px auto;
    padding: 20px;
   

    
    /* Tamanho fixo */
    width: 1000px; /* Defina a largura fixa */
   
    position: relative; /* Posicionamento relativo */
}



.curso-content {
    flex: 1; /* Ocupa o restante do espaço disponível */
}

/* mensagem */

.mensagem {
    display: none;
}






.pergunta {
    font-weight: bold; /* Define o estilo de negrito para perguntas */
}

.radio {
    font-weight: normal; /* Define o estilo normal para rótulos de radio buttons */
}

.texto-azul {
    color: blue; /* Definindo a cor do texto em azul */
}

/* Estilos para o menu horizontal */
/* Estilos para o menu horizontal */

/* Estilos para o dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Cor de fundo do dropdown */
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Mudar a cor do texto para elementos com a classe "red-text" */
/* Cor para o texto em parágrafos (<p>) */
p {
    color: #1d1717b0;
}

/* Cor para o texto em cabeçalhos de nível 1 (<h1>) */
h1 {
    color: rgb(0, 255, 0); /* Verde */
}

/* Cor para o texto em cabeçalhos de nível 2 (<h2>) */
h2 {
    color: #1d1717b0;
    /*text-shadow: 
    0px 0px 5px rgba(0, 0, 0, 0.7),
    0px 0px 3px rgba(0, 0, 0, 0.7),
    0px 0px 2px rgba(0, 0, 0, 0.7);*/
}

/* Cor para o texto em cabeçalhos de nível 3 (<h3>) */
h3 {
    color: rgb(255, 255, 252); /* Amarelo */
}

/* Cor para o texto em links (<a>) */
a {
    color: rgb(255, 0, 255); /* Magenta */
    
}
li {
    color: #1d1717b0;
    /*text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.718); /* Adiciona uma sombra ao texto */
}


/* Estilos para a navegação de páginas */
.pagination {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center;
    margin-top: 0px; /* Espaço superior */
}

/* Estilo para o botão "Página Anterior" */
.previous-page-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Adiciona margem à direita do botão "Página Anterior" */
}

/* Estilo para o botão "Próxima Página" */
.next-page-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adiciona margem à esquerda do botão "Próxima Página" */
}

/* Estilos para os links das páginas */
.page-indicators {
    display: flex;
    gap: 10px;
}

/* Estilo para os números das páginas */
.page-indicators a {
    text-decoration: none; /* Remover sublinhado dos links */
    background-color:linear-gradient(to right, rgb(21, 156, 174), rgb(255, 255, 255));
    color: #1d1717b0;
    border: 1px outset #000; /* Adicionando uma borda sólida azul */
    padding: 5px 5px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    margin: 10 15px; /* Espaçamento entre os links */
    transition: color 0.3s, background-color 0.3s; /* Adicionar transições suaves */
}

.dark-mode .page-indicators a{
    background-color:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    color: #ffffffb0;
}

.page-indicators a:hover {
    background-color: rgb(27, 240, 255); /* Cor de fundo ao passar o mouse (hover) */
    color: rgb(0, 0, 0); /* Cor do texto ao passar o mouse (hover) */
}
.previous-page-button:hover,
.next-page-button:hover {
    background-color: #021b1d;
}

.hr {
    width: 100%;
    height: 2px;
    background-color: #09ebff; /* Cor da linha de separação */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha de separação */
}

.custom-download-button {
    background-color: #090957; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remover sublinhado de link */
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

.custom-download-button:hover {
    background-color: #0056b3; /* Cor de fundo quando o mouse está sobre o botão */
}

.column {
    width: 100%;
  }

.responsive-image {
    max-width: 100%;
    height: auto;
}



    

.center-content {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Torna o container ocupar a altura total da viewport */
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;

}
.footer a {
    color: #f2f2f2; /* Cor dos links no rodapé */
    text-decoration: none; /* Remover sublinhado */
    margin: 0 10px; /* Espaçamento entre os links */

}
.footer p {
    color: #f2f2f2; /* Cor dos links no rodapé */
   

}
.footer a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}

.language-selector {
   
    top: 10px; /* Distância do topo da página */
    
    right: 400px; /* Distância da direita da página */
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174)rgb(255, 255, 255) 0, 0) 100%);
    padding: 10px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  
    color:white;
    height: 16px;
    font: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border: 1px outset #ffffff;
 }
 
 .language-selector label {
    margin-right: 10px;
 }
 
 .language-selector select {
    padding: 0px;
    background-color: black;
    color:rgb(255, 255, 255) ;
 }
 .ad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
  }

  .ad-banner {
    flex: 1 1 auto;
    max-width: 100%;
    height: auto;
    margin: 10px;
    background: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
  }

  .ad-banner img,
  .ad-banner video {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  body, html {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */

    margin: 0;
    padding: 0;

}
.carousel-container {
    position: relative;
    width: 100%;
  margin-top:10px;
    overflow: hidden;
    border: 2px solid #ccc;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
 
}

.carousel-item {
    min-width: 300px; /* Define um tamanho mínimo */
    height: 300px;
    margin-right: 10px;
    text-align: center;
}

.carousel-images a img {
    flex: 0 0 auto; /* Permite que o item não encolha e não cresça, mantendo seu tamanho */
    height: 300px;
    transition: transform 0.3s;
  
}

/* Zoom quando o mouse está sobre a imagem */
.carousel-images img:hover {
    transform: scale(1.1);
}

.arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}

/* Estilizando o link */
.carousel-item a {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #007BFF;
}

.carousel-item a:hover {
    text-decoration: underline;
}
.container2 {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    margin-top:20px;
       /*background: linear-gradient(to right, rgb(21, 156, 174), rgb(0, 0, 0));*/
       background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174)rgb(255, 253, 253) 0, 0) 100%);
    
    
    
    }
@media (max-width: 768px) {
    .responsive-menu {
        flex-direction: column; /* Coloca os itens do menu em uma coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }
    .curso img {
        margin:0px;
        
     }
    .responsive-menu li {
        margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    }

    body{
        overflow-x: hidden; 
        flex-direction: column;
    
        align-items: center; /* Centraliza os itens na coluna */
    }
    .carousel-container {
         
        width: 100%;
        position: relative;
        align-items: center;
        overflow-x: hidden;
     }
     .carousel-images {
         display: flex;
         transition: transform 0.5s ease;
       
     }

     .carousel-images a img {
         width: 90px; /* Ajusta a largura das imagens para preencher o container */
         height:200px;
         transition: transform 0.3s;
     }
 .carousel-item {
             min-width: 90px; /* Diminui para 150px */
             height: 205px;
             max-width: 100%;
         }

         .arrow {
             width: 30px; /* Reduz o tamanho das setas */
             height: 30px;
             font-size: 18px;
            
         }
    .ad-banner {
        width: 100%;
        height: auto;
        font-size: 14px; /* Ajuste o tamanho do texto, se necessário */
      }
@media (max-width: 600px) {
        .ad-banner {
          width: 100%;
          height: auto;
          font-size: 14px; /* Ajuste o tamanho do texto, se necessário */
        }
        .carousel-container {
         
            width: 100%;
            position: relative;
            align-items: center;
            overflow-x: hidden;
         }
         .carousel-images {
             display: flex;
             transition: transform 0.5s ease;
           
         }
         .curso1{
            
            max-width: 90%; /* Ocupará 100% da largura */
       width:auto;
        }
         .carousel-images a img {
             width: 90px; /* Ajusta a largura das imagens para preencher o container */
             height:200px;
             transition: transform 0.3s;
         }
     .carousel-item {
                 min-width: 90px; /* Diminui para 150px */
                 height: 205px;
                 max-width: 100%;
             }
 
             .arrow {
                 width: 30px; /* Reduz o tamanho das setas */
                 height: 30px;
                 font-size: 18px;
                
             }
        .ad-banner img,
.ad-banner video {
  width: 90%;
  height: auto;
  max-width: 90%;
}
      }
    .main-content img {
        max-width: 90%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        height: auto; /* Ajusta a altura proporcionalmente */
        box-shadow:
        0px 0px 5px rgba(255, 255, 255, 0.7),
        0px 0px 3px rgba(255, 255, 255, 0.7),
        0px 0px 2px rgba(255, 253, 253, 0.7);
    
    }
    .language-selector {
        top: 5px;
        right: 5px;
        padding: 5px;
        font-size: 0.8em;
    }

    .language-selector label, .language-selector select {
        font-size: 0.9em;
    }
    .curso {
        flex-direction: column;
        align-items: center;
        height: 550px; /* Alterado para altura automática */
        width: auto;
    }

    .main-content {
      
        overflow-x: hidden; 
    }
    .main-content p {
       
       
        font-size:11px ;
    }
    .dark-mode .curso {
        flex-direction: column;
        align-items: center;
        height: 550px; /* Alterado para altura automática */
        width: auto;
    }
    
    .curso img {
        max-width: 80%;
        margin-bottom: 10px;
        height: auto;
        margin-top: 55px; /* Adicione uma margem superior para empurrar a imagem para baixo */
    }
    .dark-mode .curso img {
        max-width: 80%;
        margin-bottom: 10px;
        height: auto;
        margin-top: 55px; /* Adicione uma margem superior para empurrar a imagem para baixo */
    }
    .curso-content {
        text-align: center;
        margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento */
        
    }
    .horizontal menu {
    
        margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    }
    .curso h3 {
  
            margin-left: 0;
            margin-bottom: 10px;
            font-size:14px ;
    }
.curso ul{
        margin-bottom: 165px;
        font-size:12px ;
        text-align: left;
        margin-right: 30px;

    }
    .highlight {
        background-color:  #079b9b;
        
        font-size: 9px; /* Tamanho padrão */
        
    }
    .toggle-menu {
        display: inline-block; /* Mostra o botão de toggle como um bloco em linha */
        cursor: pointer;
        padding: 10px;
        text-align: center;
        position: relative; /* Permite posicionar elementos filhos relativamente a este */
    }
    
    .menu-content {
        display: flex; /* Utiliza flexbox para posicionamento dos itens internos */
        align-items: center; /* Alinha itens verticalmente ao centro */
    }
    
    .menu-text {
        color: white; /* Cor do texto */
        margin-left: 10px; /* Espaçamento entre o ícone e o texto */
    }
    
    .hamburger-icon {
        display: inline-block; /* Exibe o ícone do hamburger */
    }
    
    .hamburger-icon div {
        width: 35px;
        height: 5px;
        background-color: white; /* Cor das barras */
        margin: 6px 0;
        transition: 0.4s;
    }

    li {
        margin-top: 0px; /* Ajuste conforme necessário */
        text-align: center;

    }

    .custom-button {
        text-align: center;
        margin-left: 0;
        margin-top: 500px; /* Adicione um espaço entre o texto e o botão */
        font-size:14px ;
        max-width: 80%;
        box-shadow:none;


      
    }
    h1 {
      
      font-size:20px ;
    }

    h2 {
     
       font-size:15px ;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        overflow-x: hidden; 
        flex-direction: column;
    
        align-items: center; /* Centraliza os itens na coluna */
    }
    .main-content img {
        max-width: 40%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        height:auto; /* Ajusta a altura proporcionalmente */
        box-shadow:
        0px 0px 5px rgba(255, 255, 255, 0.7),
        0px 0px 3px rgba(255, 255, 255, 0.7),
        0px 0px 2px rgba(255, 253, 253, 0.7);
    
    }
    .sidebar{
    width: 95%; /* Define a largura da barra lateral e do conteúdo principal para 100% */
}
    h2 {
        text-align: center;
              margin-left: 0;
              margin-bottom: 10px;
              font-size:14px ;
      }
      .main-content p {
             
             
          font-size:11px ;
      }
          .curso h3 {
        
                  margin-left: 0;
                  margin-bottom: 300px;
                  font-size:10px ;
                  
          }
          h1 {
            
              font-size:20px ;
            }
        
            h2 {
             
               font-size:15px ;
            }
      
          .custom-button {
              text-align: center;
              margin-left: 0;
              margin-top:660px; /* Adicione um espaço entre o texto e o botão */
          }
      
          
           .curso ul {
            margin-right: 30px;
              margin-left: 0;
            margin-top: 20px;
              font-size: 12px;
              text-align: left;
             
          }
    .curso p3{
        text-align: center;
        margin-left:0;
        margin-top: 600px; /* Adicione um espaço entre o texto e o botão */
        font-size: 12px;
    
    }
    
    .curso p4{
        text-align: center;
        margin-left:0;
        margin-top: 630px; /* Adicione um espaço entre o texto e o botão */
        font-size:16px ;
    
    }
    .horizontal-menu ul {
        padding: 10px;
    }
    .horizontal-menu img {
        width:400px;
        height:auto;
        margin-bottom: 20px;
    }
 
    .horizontal-menu ul li {
        display: flex;
    }

    .horizontal-menu a:hover span {
        color: black; /* Cor do texto quando passa o mouse */
    }

    .horizontal-menu a:hover {
        background-color: rgb(0, 0, 0); /* Fundo preto quando passa o mouse */
        color: rgb(255, 251, 251); /* Cor dos links quando passa o mouse */
        width: 100%; /* Fundo preto se estende até a largura máxima do link */
        box-sizing: border-box; /* Evita que o padding aumente a largura total */
        padding: 5px 10px; /* Ajusta o padding para esquerda e direita */
    }
    .container2 {
       width:100%; /* Altera o display para empilhar as colunas */
    }

    .responsive-menu {
        flex-direction: column; /* Coloca os itens do menu em uma coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }

    
    .language-selector {
        top: 5px;
        right: 5px;
        padding: 5px;
        font-size: 0.8em;
        width: 100%;
    }
   
    .language-selector label, .language-selector select {
        font-size: 0.9em;
    }

 

    .responsive-menu li {
        margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    }

    .container {
        width:700px;
    }

    .column {
        width: 600px; /* Define a largura das colunas para 100% */
    }

    .main-content {
        width: 700px; /* Define a largura da barra lateral e do conteúdo principal para 100% */
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box; /* Inclui padding e bordas na largura total */
    }

    .main-content img {
        max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        height: auto; /* Ajusta a altura proporcionalmente */
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7), 0px 0px 3px rgba(255, 255, 255, 0.7), 0px 0px 2px rgba(255, 253, 253, 0.7);
        width: 300px; /* Define a largura da barra lateral e do conteúdo principal para 100% */
    }

    .custom-button {
        text-align: center;
        margin-left: 0;
        margin-top:630px;
        font-size:14px ;
        max-width: 80%;
        box-shadow:none;


      
    }
    .sidebar {
        width: 700px; /* Define a largura da barra lateral e do conteúdo principal para 100% */
    }
.curso1{
   
    /* Tamanho fixo */
    width: 880px; /* Defina a largura fixa */
   
    position: relative; /* Posicionamento relativo */
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
       /*background: linear-gradient(to right, rgb(21, 156, 174), rgb(0, 0, 0));*/
       background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174) 50%, rgb(0, 0, 0) 100%);
    box-shadow:
    0px 0px 5px rgba(255, 255, 255, 0.7),
    0px 0px 3px rgba(255, 255, 255, 0.7),
    0px 0px 2px rgba(255, 255, 255, 0.7);
    
    
    }
    .column {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .curso {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        width:600px;
        height:700px;
        margin-bottom: 0px;
      
    }

    .curso img{

        /* Tamanho fixo */
        width: 400px; /* Defina a largura fixa */
       height:auto;
        position: relative; /* Posicionamento relativo */
        margin-top:50px;
    }
    .curso h3 {
  
        margin-left: 0;
        margin-bottom: 10px;
        font-size:14px ;
}
.curso ul{
    margin-bottom: 165px;
    font-size:12px ;
    text-align: left;
    margin-right: 30px;

}
}



        
    .sidebar img{

        max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        height: auto; /* Ajusta a altura proporcionalmente */
        



    }
    .main-content img {
        max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        position: relative;
        height:500px; /* Ajusta a altura proporcionalmente */
        width: 500px;
        box-shadow:
        0px 0px 5px rgba(48, 42, 42, 0.7),
        0px 0px 3px rgba(41, 35, 35, 0.7),
        0px 0px 2px rgba(41, 35, 35, 0.7);
    
    }
    
   
    .column {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
  
    .main-content p {
        margin-bottom: 10px; /* Espaço abaixo dos parágrafos */
        /*   text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  
    }
    .main-content h2 {
        margin-top: 20px; /* Espaço acima do título */
             text-shadow: none; /* Adiciona uma sombra ao texto */  
    }
    .footer {
        text-align: center;
        padding: 20px;
        background-color: #000000;
        color: white;
    
    }
    .footer a {
        color: #f2f2f2; /* Cor dos links no rodapé */
        text-decoration: none; /* Remover sublinhado */
        margin: 0 10px; /* Espaçamento entre os links */
    
    }
    .footer a:hover {
        text-decoration: underline; /* Sublinhar ao passar o mouse */
    }

    .sidebar a {
/* ... outros estilos ... */
transition: none; /* Remover todas as transições */
}

    .sidebar a:hover span {
        color: black; /* Cor do texto quando passa o mouse */
    }


    .sidebar a:hover {
        background-color: rgb(0, 0, 0); /* Fundo preto quando passa o mouse */
        color: rgb(255, 251, 251); /* Cor dos links quando passa o mouse */
       
        
        
        width: 100%; /* Fundo preto se estende até a largura máxima do link */
        box-sizing: border-box; /* Evita que o padding aumente a largura total */
        padding: 5px 10px; /* Ajusta o padding para esquerda e direita */
    }

    
    #cookie-box {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: hsl(0, 100%, 99%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 999;
        color: #000000;
    }

    #cookie-message {
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 3px rgb(255, 251, 251); /* Adiciona uma sombra ao texto */  
    }
   

    #cookie-buttons {
        display: flex;
        justify-content: center;
    }

    #cookie-button-accept, #cookie-button-decline {
        background-color: #000000;
        color: #11fbdc;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
/* Reset de estilos padrão para garantir consistência em diferentes navegadores */

/* Estilos para a div container */
.container {
display: flex;
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
/*background: linear-gradient(to right, rgb(21, 156, 174), rgb(0, 0, 0));*/
background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174) 50%, rgb(255, 255, 255) 100%);
box-shadow:
     0px 0px 5px rgba(48, 42, 42, 0.7),
     0px 0px 3px rgba(41, 35, 35, 0.7),
     0px 0px 2px rgba(41, 35, 35, 0.7);


}

.container2 {
display: flex;
flex-direction: column;
max-width: 90%;
margin: 0 auto;
margin-top:20px;
   /*background: linear-gradient(to right, rgb(21, 156, 174), rgb(0, 0, 0));*/
   background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174) 50%, rgb(255, 255, 255) 100%);



}

/* Estilos para a coluna de menu */
.sidebar {

flex: 1px;
   /*background: linear-gradient(to right, rgb(21, 156, 174), rgb(0, 0, 0));*/
   background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174)rgb(255, 255, 255) 0, 0) 100%);
color: rgb(255, 255, 255);
padding: 20px;
box-shadow:
        0px 0px 5px rgba(48, 42, 42, 0.7),
        0px 0px 3px rgba(41, 35, 35, 0.7),
        0px 0px 2px rgba(41, 35, 35, 0.7);
}

.sidebar h2 {
margin-bottom: 10px;
}

.sidebar ul {
list-style: none;
padding: 0;
margin: 0;

}

.sidebar li {
margin-bottom: 10px;


}


.sidebar a {
    color: #000000;
text-decoration: none;
display: inline-block; /* Para que o background se ajuste ao tamanho do texto */
padding: 5px 10px; /* Espaçamento interno para o fundo do hover */
transition: background-color 0.0s; /* Adiciona uma transição suave da cor do fundo */
text-shadow: linear-gradient(to right, rgb(21, 156, 174), rgb(255, 255, 255));

}

/* Estilos para a coluna de conteúdo principal */
.main-content {
flex: 2;
padding: 20px;
border-left: 1px solid #ffffff;


}

h1 {
    color: #1d1717b0;
margin-bottom: 10px;
/*  text-shadow: 1px 1px 3px rgb(255, 255, 255); /* Adiciona uma sombra ao texto */
/*text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  
}
h2 {
    color: #1d1717b0;
margin-bottom: 10px;
/* text-shadow: 1px 1px 3px rgb(252, 252, 252);  Adiciona uma sombra ao texto */
font-weight: bold;
/*text-shadow: 
0px 0px 5px rgba(0, 0, 0, 0.7),
0px 0px 3px rgba(0, 0, 0, 0.7),
0px 0px 2px rgba(0, 0, 0, 0.7);*/
}

p {

    color: #1d1717;

margin-bottom: 10px;
/* text-shadow: 1px 1px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  
font-size: 14px;
}

#nextPageButton {
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

#nextPageButton:hover {
background-color: #0056b3;
}
.horizontal-menu {
display: flex;
flex-direction: column;
align-items: center; /* Centraliza horizontalmente os itens */
}

.horizontal-menu ul {
list-style: none;
padding: 0;
}

.horizontal-menu ul li {
display: inline-block;
margin-right: 10px;
}

.horizontal-menu ul li:last-child {
margin-right: 0; /* Remove a margem direita do último item */
}
.language-selector {
   
    top: 10px; /* Distância do topo da página */
    
    right: 400px; /* Distância da direita da página */
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(21, 156, 174)rgb(255, 255, 255) 0, 0) 100%);
    padding: 10px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0); /* Adiciona uma sombra ao texto */  
    color:white;
    height: 16px;
    font: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.language-selector label {
    margin-right: 10px;
}

.language-selector select {
    padding: 0px;
    background-color: black;
    color:rgb(255, 255, 255) ;
}
.carousel-container {
            position: relative;
            width: 100%;
          margin-top:10px;
            overflow: hidden;
            border: 2px solid #ccc;
            
        }
        #carousel {
    display: flex;
    transition: transform 0.4s ease; /* Suaviza a transição durante o movimento */
}
        .carousel-images {
            display: flex;
            transition: transform 0.5s ease;
            scroll-snap-type: x mandatory; /* Suaviza a rolagem */
    -webkit-overflow-scrolling: touch; /* Melhora no mobile */

    
         
        }

        .carousel-item {
            min-width: 300px; /* Define um tamanho mínimo */
            height: 300px;
            margin-right: 10px;
            text-align: center;
            transition: transform 0.3s ease-in-out; /* Suaviza a escala dos itens */
            scroll-snap-align: center;
    flex-shrink: 0; /* Impede que as imagens redimensionem */
        }

        .carousel-images a img {
            flex: 0 0 auto; /* Permite que o item não encolha e não cresça, mantendo seu tamanho */
            height: 300px;
            transition: transform 0.3s;
          
        }

        /* Zoom quando o mouse está sobre a imagem */
        .carousel-images img:hover {
            transform: scale(1.1);
        }

        .arrow {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 24px;
            border: none;
            cursor: pointer;
            transform: translateY(-50%);
            z-index: 1;
        }

        .arrow-left {
            left: 0;
        }

        .arrow-right {
            right: 0;
        }

        .arrow:disabled {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: not-allowed;
        }

        /* Estilizando o link */
        .carousel-item a {
            display: block;
            margin-top: 5px;
            font-size: 16px;
            text-decoration: none;
            color: #007BFF;
        }

        .carousel-item a:hover {
            text-decoration: underline;
        }

@media (max-width: 768px) {
  
           
    .horizontal-menu ul {
        padding: 10px;
    }
 
    .horizontal-menu ul li {
        display: flex;
    }

    .horizontal-menu a:hover span {
        color: black; /* Cor do texto quando passa o mouse */
    }

    .horizontal-menu a:hover {
        background-color: rgb(0, 0, 0); /* Fundo preto quando passa o mouse */
        color: rgb(255, 251, 251); /* Cor dos links quando passa o mouse */
        width: 100%; /* Fundo preto se estende até a largura máxima do link */
        box-sizing: border-box; /* Evita que o padding aumente a largura total */
        padding: 5px 10px; /* Ajusta o padding para esquerda e direita */
    }
    .container2 {
       width:100%; /* Altera o display para empilhar as colunas */
    }

    .responsive-menu {
        flex-direction: column; /* Coloca os itens do menu em uma coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }

    .language-selector {
        top: 5px;
        right: 5px;
        padding: 5px;
        font-size: 0.8em;
    }
   
    .language-selector label, .language-selector select {
        font-size: 0.9em;
    }

    .responsive-menu li {
        margin-bottom: 10px; /* Espaçamento entre os itens do menu */
    }

    .container {
        display: block; /* Altera o display para empilhar as colunas */
    }

    .column {
        width: 100%; /* Define a largura das colunas para 100% */
    }

    .main-content {
        width: 100%; /* Define a largura da barra lateral e do conteúdo principal para 100% */
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box; /* Inclui padding e bordas na largura total */
    }

    .main-content img {
        max-width: 90%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        height: auto; /* Ajusta a altura proporcionalmente */
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7), 0px 0px 3px rgba(255, 255, 255, 0.7), 0px 0px 2px rgba(255, 253, 253, 0.7);
    }

    .sidebar {
        width: 90%; /* Define a largura da barra lateral e do conteúdo principal para 100% */
    }

    .toggle-menu {
    display: inline-block; /* Mostra o botão de toggle como um bloco em linha */
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: relative; /* Permite posicionar elementos filhos relativamente a este */
}

.menu-content {
    display: flex; /* Utiliza flexbox para posicionamento dos itens internos */
    align-items: center; /* Alinha itens verticalmente ao centro */
}

.menu-text {
    color: white; /* Cor do texto */
    margin-left: 10px; /* Espaçamento entre o ícone e o texto */
}

.hamburger-icon {
    display: inline-block; /* Exibe o ícone do hamburger */
}

.hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: white; /* Cor das barras */
    margin: 6px 0;
    transition: 0.4s;
}
    .horizontal-menu {
        display: none; /* Esconde o menu por padrão no modo responsivo */
    }

    .horizontal-menu.show {
        display: block; /* Mostra o menu quando a classe 'show' é adicionada */
    }
    .carousel-container {
        width: 90%;
        max-width: none; /* Remove a largura máxima */
        margin-left:20px;
    }
        .carousel-images {
          
            transition: transform 0.5s ease;
          
        }

        .carousel-images a img {
            width: 100px; /* Ajusta a largura das imagens para preencher o container */
            height:200px;
            transition: transform 0.3s;
        }
    .carousel-item {
        min-width: 120px; /* Menor largura para itens em telas pequenas */
        height: auto;
              
            }

            .arrow {
                width: 30px; /* Reduz o tamanho das setas */
                height: 30px;
                font-size: 1.5em; /* Reduz o tamanho das setas em telas menores */
               
            }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-content img {
        max-width: 40%; /* Garante que as imagens não ultrapassem o tamanho máximo do contêiner */
        height:auto; /* Ajusta a altura proporcionalmente */
        box-shadow:
        0px 0px 5px rgba(255, 255, 255, 0.7),
        0px 0px 3px rgba(255, 255, 255, 0.7),
        0px 0px 2px rgba(255, 253, 253, 0.7);
    
    }
    .curso img {
        margin:0px;
        
     }
    .sidebar{
    width: 95%; /* Define a largura da barra lateral e do conteúdo principal para 100% */
}