#map {
    height: 400px;
}
@font-face {
font-family: 'Teko';
src: url('fonts/Teko-VariableFont_wght.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
#worldMap {
width: 100%;
height: auto;
max-width: 600px; /* Tamanho máximo em telas grandes */
}
.bg-custom-gray {
background-color: #114482; /* Cinza médio */
}
.typewriter {
    font-size: 1.5rem;
    color: #333;
    text-align: center; /* Já centraliza horizontalmente */
    margin-top: 20px;
    width: 100%; /* Garante que ocupe toda a largura disponível */
}
.bg-custom-blue {
background-color: rgb(14, 93, 43); /* Cinza médio */
}

.bg-custom-red {
background-color: rgb(215, 161, 15); /* Cinza médio */
}

@media (max-width: 768px) {
#worldMap {
    max-width: 100%; /* O mapa ocupa toda a largura da tela */
    height: 300px; /* Altura reduzida para caber em telas pequenas */
}
.imagem-analise {
    width: 60px;
    height: 60px;
}
}

@media (max-width: 576px) {
#worldMap {
    height: 200px; /* Ainda menor em telas muito pequenas */
}
.imagem-analise {
    width: 50px;
    height: 30px;
}
}
body {
font-family: 'Teko', sans-serif; /* Define a fonte para o corpo da página */
}