
     * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  overflow-x: hidden;
  text-align: center;
}

header {
  width: 100%;
  height: 700px;
  background: url('Vitão.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center; 
  align-items: center;   
  position: relative;     
}

.menu-button {
  background-color: #FFC107;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #FFA000;
}

.menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease-in-out;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 15px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #FFC107;
}


.menu-open {
  right: 0; 
}

.content-section {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:rgb(0, 0, 0);
}
.content-section2 {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:rgb(0, 0, 0);
}
.content-section3 {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:rgb(0, 0, 0);
}
.image-container {
  display: inline-block;
  margin: 10px;
  text-align: center; 
  box-shadow: #FFC107;
  flex-shrink: 0;
}
.image-container2 {
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.image-container img {
  width: 200px;
  height:250px;
  object-fit: cover; 
  border-radius: 10px; 

 
}
.text-container {
    flex-grow: 1;
}

.image-container2 img {
  width: 800px;
  height:800px;
  object-fit: cover; 
  border-radius: 10px;}
  



  #video-container {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 10px; 
  margin: 20px;
}

.video-container {
  flex: 1 1 10%;
  margin: 10px; 
  text-align: center; 
}


.video-container video {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 10px;
}

.content-section3,.content-section2, .content-section {
    margin-bottom: 40px;
}
.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
    .content-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
h3 {
color:rgba(0, 0, 0, 0.703);
    margin-bottom: 10px; 
    
}





.video-container {
    text-align: center;
    width: 500px; 
    margin: 15px auto;
}

#programacao .video-container2 {
    text-align: center;
    width: 500px; 
    margin: 15px auto;
}



.video-container p {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}


.mini-container {
    text-align: center;
    width: 300px; 
    height: auto;
    margin: 8px;
   padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f4f4f4;
}
.mini-container2 {
    text-align: center;
    width: 100%; 
    height: auto;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f4f4f4;
}
.mini-container2 img {
    text-align: center;
    width: 60%; 
    height:auto;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #f4f4f4;
  
}
.mini-container img {
    width: 150px;
    height: 200px;
    border-radius: 10px; 
}

@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Teko', sans-serif; 
}


.mini-container p {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

label {
    margin-bottom: 5px;
    color: #fff; 
}

input,
textarea {
    width: 90%; 
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
}
button {
    background-color: #000300; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
}

button:hover {
    background-color: #3d483e; 
}

.email-button {
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.email-button:hover {
    background-color: #0056b3;
}

#whatsapp-button img {
    width: 145px; 
    height: 40px; 
    
}

.language-selector{
padding:20px;
background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  
   
    .content-section3 {
        flex-direction: column; 
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 0px;
        text-align: center;
        align-content: center;
  }


  .skill-frame {
    flex: 1 1 30%;
    max-width: 300px;
  }

  .image-container2{

    width:100%;

  }
  .mini-container {
  text-align: center;
    width: 30%; 
    height: auto;
    max-height:400px;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f4f4f4;
    overflow: auto; 
     word-wrap: break-word; 
}
   .mini-container3 {
  text-align: center;
    width: 30%; 
    height: 400px;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f4f4f4;
    overflow: auto; 
}
  .mini-container img {
  width:50%;
  height:auto;
}
h1{
  font-size: 13px;
}

}


