body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Cor de fundo para as laterais */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #949191;
}

nav a:hover {
    background-color: #666;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    background-color: #514e4e; /* Cor de fundo para as laterais */
    color: #ddd;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajustado para alinhar os itens à esquerda */
}

label {
    margin-bottom: 5px; /* Adiciona um espaço entre os rótulos e os campos */
    color: #fff; /* Cor do texto branco */
}

input,
textarea {
    width: 100%; /* Ocupa 100% da largura disponível */
    padding: 8px; /* Espaçamento interno */
    margin-bottom: 15px; /* Adiciona um espaço entre os campos */
    border: 1px solid #ddd; /* Borda com cor mais clara para contraste */
    border-radius: 5px; /* Bordas arredondadas */
}
button {
    background-color: #000300; /* Cor de fundo verde */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-bottom: 10px; /* Adiciona um espaço entre os botões */
}

button:hover {
    background-color: #3d483e; /* Cor de fundo verde mais escura no hover */
}

.email-button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove a sublinhado padrão de links */
    display: inline-block; /* Permite adicionar o margin */
    transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.email-button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura no hover */
}